/* Add a black background color to the top navigation */
body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.logo{
    color: antiquewhite;
    text-align: left;
  padding: 15px 24px;
  text-decoration: none;
  font-size: 17px;
    
}
.topnav {
  background-color: #000000;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 24px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #8304aa;
  color: white;
}